<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<table border="2">
    <h1>Cars</h1>
    <tr>
        <th>ID</th>
        <th>Model</th>
        <th>Series</th>
    </tr>

    <tr th:each="car : ${cars}">
        <td th:text="${car.getId()}" align="center"></td>
        <td th:text="${car.getModel()}" align="center"></td>
        <td th:text="${car.getSeries()}" align="center"></td>
    </tr>

</table>

</body>
</html>